absl-py==0.4.1
astor==0.7.1
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
enum34==1.1.6
flatbuffers==1.9
funcsigs==1.0.2
futures==3.1.1
gast==0.2.0
graphpipe==1.0.4
grpcio==1.15.0
h5py==2.8.0
html5lib==0.9999999
idna==2.6
joblib==0.13.2
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.3
mock==2.0.0
numpy==1.14.5
opencv-python==4.1.0.25
pbr==4.2.0
Pillow==5.2.0
protobuf==3.6.1
psutil==5.6.2
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.18.4
scikit-learn==0.21.2
scipy==1.1.0
six==1.11.0
subprocess32==3.5.2
tensorboard==1.10.0
tensorflow==1.7.0
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
